
#nav {
    background-color: hsl(0, 0%, 100%);
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

#dropdown {
    height: 100%;
}

#dropdown button {
    height: 100%;
    background-color: white;
    color: black;
}

#flags {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vw;
}

img {
    height: 31vh;
}