
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

#dropdown {
    height: 100%;
}

#dropdown button {
    height: 100%;
    background-color: white;
    color: black;
}

#flags {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vw;
}

.card-body {
}

.c-body {
    padding: 0;
    padding: 2vw;
}

#c-body h5 {
    margin-bottom: 10px;
}

#c-body p {
    margin: 0;
    margin-top: 3px;
}